html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
		font-family: 'Roboto', sans-serif;
		-webkit-font-smoothing: antialiased;
		font-size: 16px;
		color: #838994;
		letter-spacing: 0.03em;
		width:100%;
	}

	div{
border: 1px solid chocolate;
	}
/* Beginning of the header and top menu bar section*/
	nav{
		width: 100%;
		height:4.4em;
		background-color: white;
		position: fixed;
	}

	.container{
		margin:0 auto;
		width: 60%;
		height: 4.4em;
		padding:0 0.938rem;

	}

	.head-background-image{

	background-image: url("../Images/first-background-copy.jpg");
	background-size: 100%,100%;
	background-repeat: no-repeat;
	background-position: center bottom;
	height:45.95em;
	width:100%;
	margin:0;
	}
	


	.header-logo{
		margin: 0.9em 25em 0em 0em;
		float:left;
		position: absolute;
	}

	.active{
		color:rgb(76, 80, 88);
		font-weight: 500;
	}

	.active:hover{

		color:rgb(32,32,32);
	}

	
	ul{

		letter-spacing: 0.01em;
		margin:1.5em 0.2em 0 0;
		float:right;
		font-size:1em;
		font-family:Roboto, sans-serif;
	}

ul> li{

		cursor: pointer;
		-webkit-font-smoothing: antialiased;
		padding-left:1.63em;
		color:rgb(131, 137, 148);
		list-style-type:none;
		display: inline-block;
	}
	
	li:hover{

		color:rgb(51,51,51);
	}

	/*End of the header and top menu bar section */

	.introduction{
	width:100%;
	margin:0 auto;
	margin-top:16.9em;
	}
	
	h1{
		font-size: 3.125rem;
	}

	h3{
		padding-top:1em;
		font-size:1.563rem;
	}

	h1, h3{
		letter-spacing: 0;
		line-height:0;
		color:white;
	text-align: center;
	font-weight:300;
	}

	.big-button{
		display: block;
		width:9.688rem;
		margin:0 auto;
		text-shadow: none;
	    border-style: none;
	    border-radius: 4px;
	    margin-top:1.9em;
	    padding: 16px 26px;
	    line-height: 1.33;
	    text-align: center;
	    font-size:1.125rem;
	    letter-spacing: normal;
	    font-weight: 500;
	    color:white;
	    background-color: #f15a29;
	    border-color:#f15a29;

	}

	.big-button:hover{

		background-color:#D9400E;

	}

	.features{
		margin:0 auto;
		background-color: white;
		width: 60em;
		height: 40em;
	}

	h2{
		text-align: center;
		font-size: 2.75rem;
		font-weight: 300;
		color: black;
	}

	.internet-feature,
	.productivity-feature,
	.pay-feature{
		display: inline-block;
		height: 10em;
		width: 20em;
		float: left;
	}
