html {

  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
		font-family: 'Roboto', sans-serif;
		-webkit-font-smoothing: antialiased;
		font-size: 16px;
		color: #838994;
		letter-spacing: 0.03em;
		width:100%;
		height:99.4em;
	}

	div{
		border: 1px clear solid;	}
/* Beginning of the header and top menu bar section*/
	nav{
		background-color: white;
		width: 100%;
		height:4.4em;
		position: fixed;
		top:0;
		border-bottom: 1px lightgrey solid;

	}

	.container{
		margin:0 auto;
		width: 60%;
		height: 4.4em;
		padding:0 0.938rem;

	}

	.head-background-image{

	background-image: url("../Images/first-background-copy.jpg");
	background-repeat: no-repeat;
	position: static;
	height:45.95em;
	width:100%;
	margin:0;
	z-index: 9000;
	}
	


	.header-logo{
		margin: 0.9em 25em 0em 0em;
		float:left;
		position: absolute;
	}

	.active{
		color:rgb(76, 80, 88);
		font-weight: 500;
	}

	.active:hover{

		color:rgb(32,32,32);
	}

	
	.header-top-menu-bar{

		letter-spacing: 0.01em;
		margin:1.5em 0.2em 0 0;
		float:right;
		font-size:1em;
		font-family:Roboto, sans-serif;
	}

.header-top-menu-bar> li{

		cursor: pointer;
		-webkit-font-smoothing: antialiased;
		padding-left:1.63em;
		color:rgb(131, 137, 148);
		list-style-type:none;
		display: inline-block;
	}
	
	li:hover{

		color:rgb(51,51,51);
	}

	/*End of the header and top menu bar section */

	.introduction{
	width:100%;
	padding-top:17.45em;
	}
	
	h1{
		font-size: 3.125rem;
	}

	h3{
		padding-top:1em;
		font-size:1.563rem;
	}

	h1, h3{
		letter-spacing: 0;
		line-height:0;
		color:white;
	text-align: center;
	font-weight:300;
	}

	.big-button{
		display: block;
		width:9.688rem;
		margin:0 auto;
		text-shadow: none;
	    border-style: none;
	    border-radius: 4px;
	    margin-top:1.9em;
	    padding: 16px 26px;
	    line-height: 1.33;
	    text-align: center;
	    font-size:1.125rem;
	    letter-spacing: normal;
	    font-weight: 500;
	    color:white;
	    background-color: #f15a29;
	    border-color:#f15a29;

	}

	.big-button:hover{

		background-color:#D9400E;

	}



	.features{
		margin:0 auto;
		background-color: white;
		width: 60%;
		height: 28.6em;
	
	}
	.footer{
		margin:0 auto;
		background-color: white;
		width: 60%;
		height:19.2em;
		border-top:1px lightgrey solid;
	}

	h2{
		margin: 2.8em 0 1.135em 0;
		text-align: center;
		font-size: 2.75rem;
		font-weight: 300;
		color: black;
		letter-spacing: 0em;
	}

	.internet-feature,
	.productivity-feature,
	.pay-feature{
		font-size:1.563rem;
		font-weight: 400;
		text-align: center;
		display: inline-block;
		height: 10em;
		width: 33.33%;
		float: left;
	}
	
	h4{
		margin: 1.6em 0 0em 0;
		font-weight: 400;
		font-size: 1.563rem;
		color: black;
	}

	h5{
		margin:1.3em 0 1.3em 0;
		text-align: center;
		font-weight: 400;
		font-size:0.95em;
		color:black;
		letter-spacing: 0;
	}

	.footer-container{
		margin:0 auto;
		width:100%;
		height:17.8em;

	}

	.footer-links{
		text-align: center;
		padding:0;
		height:40px;
	}

	.footer-links>li{
		width:40px;
		height:40px;
		border-radius: 50%;
		list-style-type: none;
		display: inline-block;
		margin:0 0.3em;
		border:1px lightgrey solid;

	}

	li>img{

		margin-top:0.6em;
	}

	.copy{
		padding-top:0.2em;
		font-size: 0.9rem;
		font-weight:300;
		letter-spacing: -.01em;
		text-align: center;
	}

	.twitter-link{

	color:#55acee;

	}


	.facebook-link > i{

		color:#4C66A4;
		margin-left:0.1em;
	}
	.instagram-link>i{

		color:#3F729B;
		margin-left:0.1em;
	}

	i{
		margin-top:0.6em;

	}

