body{
		background-color: LightGray;
	}

	div{
border: 1px solid chocolate;
	}
/* Beginning of the header and top menu bar section*/
	header{
		margin: 0 auto;
		width: 60em;
		height:4.4em;
		background-color:lightblue;

	}

	.header-logo{
		margin: 1em 0em 0.9em 0.95em;
	}

	.meet-karma{
		color:rgb(76, 80, 88);
	}


	ul{
		letter-spacing: 0.01em;
		text-align: right;
		font-size:1em;
		font-family:Roboto, sans-serif;
		margin:-2.9em 0.95em 0 0;
		padding:0;
	}


	ul> li{
		padding-left:1.63em;
		color:rgb(131, 137, 148);
		list-style-type:none;
		display: inline;
font-weight: 200;

	}



